<script>
    function mostrarMensaje(){
        var cantidad=        document.getElementById('Cantidad jugadores').value
        document.getElementById('jugadores').innerHTML= "Partida de " +cantidad+" jugadores"
    }
</script>
<h3>Configurar partida</h3>

<form >
    <label>Escoja la cantidad de jugadores: </label>
    <select id='Cantidad jugadores'  name='Cantidad jugadores'>
        <option value="2" selected> 2 </option>
        <option value="3"> 3 </option>
        <option value="4"> 4 </option>
    </select>

    <input type="button" onClick="mostrarMensaje()" id='Ok' name='Ok' value ='Ok'>
</form>

<p id="jugadores"></p>
