
<script>
    function mostrarMensaje(){
        var cantidad=        document.getElementById('Cantidadjugadores').value
        document.getElementById('jugadores').innerHTML= "Partida de " +cantidad+" jugadores"
        document.getElementById('Continuar').style.display='inline'
    }
</script>

<h3>Configurar partida</h3>
<form method="POST" action="/configurarJugador">

    <label>Escoja la cantidad de jugadores: </label>
    <select id='Cantidadjugadores'  name='Cantidadjugadores'>
        <option value="2" selected> 2 </option>
        <option value="3"> 3 </option>
        <option value="4"> 4 </option>
    </select>

    <input type="button" onClick="mostrarMensaje()" id='Ok' name='Ok' value ='Ok'>
    
<p id="jugadores"></p>

    <input type="submit" id='Continuar' name='Continuar' style="display: none" value='Continuar'>

</form>