<form method="POST" action="/juego">

    <label> Ingrese el nombre del jugador: </label>
    <input type="text" id='nombre' name='nombre'>
    <label> Ingrese el color: </label>
    <input type="color" id='color' name='color'  >
    <input type="submit" id='Confirmar' name='Confirmar' value ='Confirmar'>

</form>

<p id="jugadores"></p>