<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>A Sinatra app to access Google+</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
  </head>
  <body>
  <div class="container" align="center">
    <div class="page-header center"><h3>Cuadrados y puntos</h3></div>
    <img src="images/logoApp.jpg" id="logoApp" name="logoApp"/>
    <br><br>
    <form class="form-group" method="GET" action="/configurarPartida">
        <input class="btn btn-primary" type="submit" value ='Iniciar'>
    </form>
    </div>
  </body>
</html>


